/* .contenedor-tablero { */
    /* background-color: antiquewhite; */
    /* height: 95vh; */
    /* padding: 15px; */
    /* height: 100%; */

    /* display: flex; */
    /* flex-flow: row wrap; */

    /* justify-content: space-evenly; */
/* } */

.contenedor-cartas {
    /* background-color: aquamarine; */
    /* height: 80vh; */
    /* min-height: 100%; */
    /* width: 70%; */
    /* height: 90%; */
    /* padding: 15px; */


    display: flex;
    flex-flow: row wrap;

    justify-content: center;



}