.col, .col-3, .row, app-footer {
    padding: 0;
    margin: 0;
}

.contenedor-principal {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/img/fondo.png');
    background-color: #000;

    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 

    
}


.contenedor-area-juego {
    max-width: 1800px;
    /* background-color: #fff; */
    margin: 0 auto;
}


.visor {
    width: 30%;
    max-width: 400px;
}

.tablero {
    /* height: 90vh; */
    /* background-color: azure; */
    /* width: 70%; */


    /* overflow: hidden;  */

}

