<div    class="contenedor-superior-cartas"
        *ngIf="cartas.length > 0"
        >


        <div    class="contenedor-carta d-flex flex-wrap justify-content-center align-content-center"
                *ngFor="let carta of cartas, let i = index"
                >

                <div    class="contorno-carta"
                        (click)="cartaSeleccionada( carta, i )"
                        [ngClass]="{    'activo': i === click1 || i === click2 || carta.clickado,
                                        'clickado': carta.clickado,
                                        'error': tiempoError && i === click1|| i === click2 }"
                        >
                        <p>{{ carta.id }}</p>


                        
                        <img    [src]="carta.img"
                        [alt]="carta.nombre"
                        class="img"
                        *ngIf="i === click1 || i === click2 || carta.clickado; else frontal"
                        >

                        <ng-template    #frontal>

                                <img    src="assets/img/placeholder11.png"
                                alt="..."
                                class="img"
                                
        
                        
                                >

                        </ng-template>
                </div>
        
        </div>

        
</div>
