.contenedor-carta {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;

    max-width: 20%;
    /* height: 10vh; */

    margin: 2%;

    background-color: rgb(255, 79, 79);

}

.img {
    width: 100%;
}


/* CARTAS BOCA ARRIBA */
.activo {
    background-color: rgb(127, 255, 150);
}

.clickado{
    background-color: darkorange;
}