.contenedor-superior-cartas {
    width: 95%;
    height: 95vh;
    padding: 5px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}

.contenedor-carta {
    overflow: hidden;
    text-align: center;
}


.contorno-carta {
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #E8E8C9;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
    max-height: 100%;
    max-width: 210px;
}

.img {
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
}


/* ESTADOS DE LAS CARTAS */
.activo {
    border: 3px solid #0059ff;
}

.clickado{
    border: 3px solid #00e169;
}

.error{
    border: 3px solid #ff0000;
}