<div class="contenedor-visor">

    <div    class="contenedor-visor-juego"
            *ngIf="visorActivo else pregunta"        
            >
        <p>visor works!</p>
        <pre>{{ jugador | json }}</pre>
        <button (click)="inicioJuego()"
        
                >
            Jugar
        </button>
        <button (click)="preRestablecerJuego()"
        
                >
            Restablecer
        </button>
    </div>

    <ng-template    #pregunta>
        <h2>Advertencia</h2>
        <p>Al pulsar restablecer perderá todo el progreso y el juego se iniciará.</p>
        <button (click)="cancelar()"
                >
                    Cancelar
        </button>
        <button (click)="restablecerJuego()"
                >
                    Restablecer
        </button>
    </ng-template>
    
    
</div>

