.contenedor-visor {
    /* background-color: darkcyan; */
    height: 95vh;
    /* display: flex;
    flex-wrap: wrap; */


    
}

.contenedor-visor-flotante {

    width: 90%;
    height: 95%;
    border: 15px solid #E8E8C9;
    border-radius: 45px;
    background-color: #000;
    color: #fff;
    overflow: hidden;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.contenedor-visor-juego {
    height: 100%;
    /* background-color: aquamarine; */
}

.info-jugador {
    padding: 35px 15px;
    text-align: center;
    width: 100%;
    
}

.info-jugador h3 {
    font-size: 45px;
    margin-bottom: 30px;
    /* margin-top: 10px; */
}

.info-jugador img {
    margin-bottom: 20px;
    border-radius: 999px;
    border: 2px solid #E8E8C9;
    width: 100%;
    max-width: 250px;
}

.info-jugador .nivel-jugador {
    font-size: 35px;
}

.info-jugador .puntos {
    font-size: 70px;
}

.info-jugador .intentos {
    margin-top: 30px;
}



.botonera {
    /* background-color: #E8E8C9; */
    padding: 30px 5px;
    /* padding-bottom: 40px; */

}

.botonera button {
    margin: 5px;
    padding: 0px 20px;
    font-size: 35px;
}

.botonera .jugar {
    margin-bottom: 50px;

    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.botonera .peligro {
    font-size: 20px;
    background-color: #000;
    color: #aaa;
    border: 1px solid #000;

}

.botonera .jugar:hover {
    background-color: #E8E8C9;
    /* border: 2px solid #D84028; */
    color: #000;
}

.botonera .peligro:hover {
    /* background-color: #E8E8C9; */
    border: 1px solid #e60000;
    color: #e60000;
}


/* CONTENEDOR ADVERTENCIA RESTABLECER */

.contenedor-advertencia {
    /* background-color: #fff; */
    height: 100%;
    width: 100%;
    padding: 5px;

}

.contenedor-advertencia h2 {
    margin-bottom: 30px;
}

.contenedor-advertencia p {
    text-align: center;
}
