<div class="contenedor-principal d-flex justify-content-center align-items-center">

    <div class="contenedor-ficha">
        
        <!-- FICHA TIPO NOMBRE -->
        <div    class="ficha-nombre d-flex align-items-center justify-content-center"
                *ngIf="activaIntro"
                >


            
            <div class="contenido-ficha">
                <h2>{{ infoMostrar.tit }}</h2>

                <input  type="text"
                        #nombre
                        placeholder="Goku"
                        >
                <p  *ngIf="nombreIncorrecto">Escribe un nombre entre 3 y 10 caracteres, gracias.</p>
                <br>


                <div class="contenedor-boton d-flex justify-content-center align-items-center">
                    <button type="button"
                            (click)="introNombre( nombre.value )"
                            >
                        Siguiente
                    </button>
                </div>


            </div>


        </div>


        <!-- FICHA TIPO COMPLETA -->
        <div    class="ficha-total"
                *ngIf="activaReglas"
                >
            
            <h2>{{ infoMostrar.tit }}</h2>

            <div    [innerHTML]="infoMostrar.txt"
                    class="contenedor-reglas"
                    >
            </div>


            <div class="contenedor-boton d-flex justify-content-center align-items-center">
                <button (click)="siguienteReglas()">
                    Siguiente
                </button>
            </div>




        </div>
        

        <!-- FICHA TIPO NIVELES -->
        <div    class="ficha-niveles"
                *ngIf="activaNiveles"
                >
            
            <div class="lado-izquierdo d-flex flex-column align-items-center justify-content-start">

                <div class="contenido flex-grow-1">
                    <h2>{{ infoMostrar.tit }}</h2>


                    <div class="contenedor-img">
                        <img [src]="infoMostrar.img" alt="...">
                    </div>


                    <p>{{ infoMostrar.txt }}</p>
                </div>

                <button (click)="siguienteReglas()">
                    Siguiente
                </button>
                
            </div>
            
            <div class="lado-derecho d-flex flex-column align-items-center justify-content-start">

                <div class="contenido flex-grow-1">
                    <h2>{{ infoMostrar.titPubli }}</h2>
                    <p>{{ infoMostrar.txtPubli }}</p>
                    <img [src]="infoMostrar.imgPubli" alt="...">
                </div>


                <a  [href]="infoMostrar.urlPubli"
                    target="_blank"
                    >
                        <button>
                            Visitar
                        </button>
                </a>



            </div>

        </div>
        
        
    </div>
    
</div>
