<div class="contenedor-principal d-flex justify-content-center align-items-center">

    <div class="contenedor-ficha">
        
        <!-- FICHA TIPO NOMBRE -->
        <div    class="ficha-nombre"
                *ngIf="activaIntro"
                >
            
            <h2>{{ infoMostrar.tit }}</h2>
            <input  type="text"
                    #nombre
                    >
            <p  *ngIf="nombreIncorrecto">Introduce un nombre de al menos 3 caracteres.</p>

            <button type="button"
                    (click)="introNombre( nombre.value )"
                    >
                Siguiente
            </button>

        </div>


        <!-- FICHA TIPO COMPLETA -->
        <div    class="ficha-total"
                *ngIf="activaReglas"
                >
            
            <h2>{{ infoMostrar.tit }}</h2>
            <div>{{ infoMostrar.txt }}</div>
            <img [src]="infoMostrar.img" alt="...">
            <button (click)="siguienteReglas()">
                Siguiente
            </button>

        </div>
        

        <!-- FICHA TIPO NIVELES -->
        <div    class="ficha-niveles d-flex justify-content-between"
                *ngIf="activaNiveles"
                >
            
            <div class="lado-izquierdo col-8">

                <h2>Título</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas error quisquam at animi, fuga ipsam delectus quasi ex nobis ut odio repellendus impedit fugit et libero, nulla placeat esse deleniti quibusdam porro dolor beatae aperiam. Corrupti laudantium beatae delectus inventore. Odio ducimus quas maxime incidunt similique accusamus, atque officia ad!</p>
                <img src="assets/img/placeholder.png" alt="...">
                <button>
                    Siguiente
                </button>
                
            </div>
            
            <div class="lado-derecho col-4">

                <h2>Título</h2>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas error quisquam at animi, fuga ipsam delectus quasi ex nobis ut odio repellendus impedit fugit et libero, nulla placeat esse deleniti quibusdam porro dolor beatae aperiam. Corrupti laudantium beatae delectus inventore. Odio ducimus quas maxime incidunt similique accusamus, atque officia ad!</p>
                <img src="assets/img/placeholder.png" alt="...">


            </div>

        </div>
        
        
    </div>
    
</div>
