<div class="contenedor-principal d-flex justify-content-center align-items-center">

    <div class="contenedor-ficha">
        
        <!-- FICHA TIPO NOMBRE -->
        <div    class="ficha-nombre"
                *ngIf="activaIntro"
                >
            
            <h2>{{ infoMostrar.tit }}</h2>
            <input  type="text"
                    #nombre
                    >
            <p  *ngIf="nombreIncorrecto">Introduce un nombre de al menos 3 caracteres.</p>

            <button type="button"
                    (click)="introNombre( nombre.value )"
                    >
                Siguiente
            </button>

        </div>


        <!-- FICHA TIPO COMPLETA -->
        <div    class="ficha-total"
                *ngIf="activaReglas"
                >
            
            <h2>{{ infoMostrar.tit }}</h2>
            <div>{{ infoMostrar.txt }}</div>
            <img [src]="infoMostrar.img" alt="...">
            <button (click)="siguienteReglas()">
                Siguiente
            </button>

        </div>
        

        <!-- FICHA TIPO NIVELES -->
        <div    class="ficha-niveles"
                *ngIf="activaNiveles"
                >
            
            <div class="lado-izquierdo">

                <h2>{{ infoMostrar.tit }}</h2>
                <p>{{ infoMostrar.txt }}</p>
                <img [src]="infoMostrar.img" alt="...">
                <button (click)="siguienteReglas()">
                    Siguiente
                </button>
                
            </div>
            
            <div class="lado-derecho">

                <h2>{{ infoMostrar.titPubli }}</h2>
                <p>{{ infoMostrar.txtPubli }}</p>
                <img [src]="infoMostrar.imgPubli" alt="...">


            </div>

        </div>
        
        
    </div>
    
</div>
